{% load wagtailimages_tags %}

{% for listitem in self.list %}
    <div class="about-box-wrapper" style="background: {{ page.color }}">
        <div class="about-box-inner">
            <div class="about-box">
                {% if listitem.heading%}
                    <h3>{{ listitem.heading }}</h3>
                {% endif %}
                {% if listitem.subtext %}
                    <p>{{ listitem.subtext}}</p>
                {% endif %}
                {% if listitem.list %}
                    {% for list in listitem.list %}
                        <p>{{ list.text}}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
