{% load wagtailimages_tags %}

{% for item in self.single %}
    <div class="about-box-wrapper">
        <div class="about-box-inner">
            <div class="about-box">
                <h3>{{ item.heading }}</h3>
                <p>{{ item.subtext }}</p>
                <p>{{ item.text }}</p>
            </div>
        </div>
    </div>
{% endfor %}
<div class="about-nav-container">
    <a href="{{ page.get_parent.url }}" class="btn btn-navy btn-lg btn-block"><i class="fas fa-chevron-left"></i> Return to About</a>
</div>
