{% load wagtailimages_tags %}

{% for item in self.single %}
    <div class="about-box-wrapper box-shadow" style="background: {{ page.color }}; color: {% if page.color == '#072660' %}white{% else %}inherit{% endif %}">
        <div class="about-box-inner">
            <div class="about-box">
                {% if item.heading %}
                    <h3>{{ item.heading }}</h3>
                {% endif %}
                {% if item.subtext %}
                    <p>{{ item.subtext }}</p>
                {% endif %}
                {% if item.text %}
                    <p>{{ item.text }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
