{% load wagtailimages_tags %}

{% for card in self.cards %}
    {% image card.image fill-300x200 as img %} 
    <a href="{{ card.button_page.url }}">
        <div class="nav-box-wrapper">
            <div class="nav-box-container box-shadow" style="background: url({{ img.url }}) center center;">
                <div class="nav-box-overlay" style="background-color: {{ card.color }};"></div>
            </div>
            <div class="nav-box-inner">
                <div class="nav-box">
                    <h3>{{ card.title }}</h3>
                </div>
            </div>
        </div>
    </a>
{% endfor %}