{% load wagtailimages_tags %}

{% for listitem in self.standard %}
    <div class="about-list-box-wrapper box-shadow" style="background: {{ page.color }}; color: {% if page.color == '#072660' %}white{% else %}inherit{% endif %}">
        {% if listitem.cover %}
        {% image listitem.cover fill-1200x300 as about_box_cover %}
            <div class="about-list-cover-container" style="background: linear-gradient( rgb(255 255 255 / 40%), rgb(7 38 96 / 35%)), url({{ about_box_cover.url }}) center center no-repeat;"></div>
        {% endif %}
        <div class="about-box-inner">
            <div class="about-box">
                {% if listitem.heading %}
                    <h3>{{ listitem.heading }}</h3>
                {% endif %}
                {% if listitem.subtext %}
                    <p>{{ listitem.subtext}}</p>
                {% endif %}
                {% if listitem.listtext %}
                    {% for list in listitem.listtext %}
                        <p>{{ list.text}}</p>
                    {% endfor %}
                {% endif %}
                {% if listitem.single_image %}
                    <div class="image-single">
                        <div class="single-image-container">
                            {% image listitem.single_image max-500x500 %}
                            <span>{{ item.caption }}</span>
                        </div>
                    </div>
                    {% elif listitem.image_gallery %}
                        <div class="image-gallery">
                            {% for item in listitem.image_gallery %}
                            <div class="image-container">
                                {% image item.gallery_image max-500x500 %}
                                <span>{{ item.caption }}</span>
                            </div>
                            {% endfor %}
                        </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
