{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock extra_css %}

{% block content %}

{% image page.aboutcover original %}
<h1>{{ page.aboutheading }}</h1>

<div class="short_description">
    {{ page.aboutbody|richtext }}
</div>

<p><a href="{{ page.about_page }}">About</a></p>


{% endblock content %}
