{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock extra_css %}

{% block content %}
<main>
    <div class="about-section">
        {% image page.about_cover original as about_photo %}
        <div class="about-hero" style="background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(7, 38, 96, 0.7)), url({{ about_photo.url }}) center center;">
        </div>
        <div class="about-content-container content-container box-shadow">
            <h1>{{ page.about_heading }}</h1>
            <div class="section-text-content">
                {{ page.about_body|richtext }}
            </div>
            <a class="btn btn-navy btn-lg btn-block" href="{{ page.about_page.slug }}">{{ page.about_button }} <i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
    <div class="music-section box-shadow">
        {% image page.music_cover original as music_photo %}
        <a href="{{ page.music_page }}">
            <div class="music-hero" style="background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(7, 38, 96, 0.3)), url({{ music_photo.url }}) center center;">
                <div class="music-hero-overlay">
                   <div class="pathway">
                       <div class="path-container">
                            <a class="btn-path" id="a1" href="{{ page.about_page }}">Newpark Nippers <i class="fas fa-chevron-right"></i></a>
                       </div>
                       <div class="path-container">
                            <a class="btn-path" href="{{ page.about_page }}">Gateway to Music <i class="fas fa-chevron-right"></i></a>
                       </div>
                       <div class="path-container">
                            <a class="btn-path" href="{{ page.about_page }}">Gateway to Instruments <i class="fas fa-chevron-right"></i></a>
                       </div>
                       <div class="path-container">
                            <a class="btn-path" id="a2" href="{{ page.about_page }}">Individual Lessons <i class="fas fa-chevron-down"></i></a>
                        <div class="path-container-inner">
                            <a class="btn-path-inner" id="a3" href="{{ page.about_page }}">Ensemble <i class="fas fa-chevron-right"></i></a>
                            <a class="btn-path-inner" id="b" href="{{ page.about_page }}">Musicianship <i class="fas fa-chevron-right"></i></a>
                            <a class="btn-path-inner" id="c" href="{{ page.about_page }}">Workshops <i class="fas fa-chevron-right"></i></a>
                        </div>
                       </div>
                       <div class="path-container">
                        <a class="btn-path" href="{{ page.about_page }}">Jazz Improvisation <i class="fas fa-chevron-right"></i></a>
                       </div>
                       <div class="path-container">
                        <a class="btn-path" id="d" href="{{ page.about_page }}">Micro Courses <i class="fas fa-chevron-right"></i></a>
                       </div>
                   </div>
                </div>
                    <div class="heading-container">
                        <h1>{{ page.music_heading }}</h1>
                    </div>
                <span class="span-navy" href="{{ page.music_page }}">{{ page.music_button }} <i class="fas fa-chevron-right"></i></span>
            </div>
        </a>
    </div>
    <div class="support-section box-shadow">
        {% image page.support_cover original as support_photo %}
        <div class="music-hero" style="background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(7, 38, 96, 0.6)), url({{ support_photo.url }}) center center;">
            <div class="music-hero-overlay"></div>
                <div class="heading-container">
                    <h1>{{ page.support_heading }}</h1>
                </div>
                <div class="support-content">
                    
                </div>
            <span class="span-navy">{{ page.support_button }} <i class="fas fa-chevron-right"></i></span>
        </div>
    </div>
    <div id="contact-us" class="contact-section box-shadow">
        <div class="contact-container">
            <div class="heading-container-blk">
                <h1>Contact Us</h1>
            </div>
            {% block contact_form %}
                {% include "includes/contact_form.html" %}
            {% endblock contact_form %}
        </div>
        <div class="map-container">
            <div class="map-container-content">
                <iframe loading="lazy" src="{{  settings.home.SiteSettings.googlemaps_embed }}" width="600" height="400" frameborder="0" style="border: 0px;height: 541.333px;" allowfullscreen="" aria-hidden="false" tabindex="0" data-rocket-lazyload="fitvidscompatible" data-origwidth="600" data-origheight="400" class="lazyloaded" data-ll-status="loaded"></iframe>
            </div>
        </div>
    </div>
    <div class="social-section">
        
    </div>
</main>
{% endblock content %}

{# Home javascript #}
{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/leader-line.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/home_newpark.js' %}"></script>
{% endblock %}

