anyascii==0.3.0
asgiref==3.4.1
backcall==0.2.0
beautifulsoup4==4.9.3
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
convertdate==2.3.2
cryptography==36.0.1
decorator==5.1.0
Django==3.2.9
django-environ==0.8.1
django-extensions==3.1.5
django-filter==21.1
django-modelcluster==5.2
django-taggit==1.5.1
django-timezone-field==4.2.1
django-treebeard==4.5.1
djangorestframework==3.12.4
docopt==0.6.2
draftjs-exporter==2.1.7
et-xmlfile==1.1.0
feedgen==0.9.0
hijri-converter==2.2.2
holidays==0.11.3.1
html5lib==1.1
icalendar==4.0.9
idna==3.3
ipython==7.16.1
ipython-genutils==0.2.0
isoweek==1.3.3
jedi==0.18.1
korean-lunar-calendar==0.2.1
l18n==2021.3
ls.joyous==1.4.0
lxml==4.6.4
mailchimp-marketing==3.0.72
microsoftgraph-python==1.0.0
msal==1.16.0
mysqlclient==2.1.0
num2words==0.5.10
numpy==1.19.5
opencv-python==4.2.0.32
openpyxl==3.0.9
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pkg_resources==0.0.0
prompt-toolkit==3.0.22
psycopg2==2.9.2
ptyprocess==0.7.0
pycparser==2.21
Pygments==2.10.0
PyJWT==2.3.0
PyMeeus==0.5.11
python-dateutil==2.8.0
pytz==2021.3
requests==2.26.0
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
stripe==2.63.0
tablib==3.1.0
telepath==0.2
traitlets==4.3.3
typing_extensions==4.0.0
Unidecode==1.3.2
urllib3==1.26.7
wagtail==2.15.1
wagtail-color-panel==1.3.0
wagtail-icon-picker==0.0.8
wagtail-seo==1.0.0
wcwidth==0.2.5
webencodings==0.5.1
Willow==1.4
xlrd==2.0.1
XlsxWriter==3.0.2
xlwt==1.3.0
zoomus==1.1.6
