{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock extra_css %}

{% block content %}
<main>
    <div class="content-section">
        <div class="login-page">
            <div class="form error box-shadow">
                <h2><i class="fas fa-exclamation-triangle"></i> 404 Error</h2>
                <span>This page could not be found</span>
                <div class="btn-container">
                    <a href="{{ request.scheme }}://{{ request.get_host }}" class="btn btn-white btn-lg btn-block"><i class="fas fa-chevron-left"></i> Home</a>
                </div> 
               
            </div>
        </div>
    </div>
</main>
{% endblock content %}
