{% load wagtailcore_tags wagtailimages_tags %}

<div class="joy-ev-item box-shadow">
    <a class="joy-img-link joy-field" href="{{ url }}">
        {% image  event.image fill-650x400 as event_cover %}
            <div class="joy-img-container" style="background: url({{ event_cover.url }}) center center no-repeat;">
                <div class="joy-title joy-title--item">
                    <h3>{{ title }}</h3>
                </div>
            </div>
            <div class="event-details-container">
                {% include "joyous/includes/who.html" %}
                {% include "joyous/includes/when.html" %}
                <div class="event-details-where-container">
                    {% include "joyous/includes/where.html" %}
                    <span class="btn-smm btn-smaller"> More Info <i class="fas fa-chevron-right"></i></span>
                </div>
            </div>
        {% if event.details %}
            {% if event.extra_information %}
                <div class="joy-ev-extra joy-field">
                    {{ event.extra_information|richtext|truncatewords_html:20 }}
                </div> 
            {% endif %}
            <div class="joy-ev-details joy-field">
                {{ event.details|richtext|truncatewords_html:20 }}
            </div>
        {% else %}
            {% if event.cancellation_details %}
                <div class="joy-ev-details joy-field">
                    {{ event.cancellation_details|richtext }}
                </div> 
            {% endif %}
        {% endif %}
    </a>
</div>   