main {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 82px auto minmax(400px, auto) auto;
    grid-template-areas:
        " . "
        "heading"
        "content";
    max-width: 1400px;
    margin: auto;
}

.content-section {
    grid-area: content;
}

.login-page {
    max-width: 460px;
    padding: 1rem 0.5rem 0 0.5rem;
    margin: auto;
  }

.form {
    position: relative;
    z-index: 1;
    background: #072660;
    color: #fafafa;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.form input[type=password] {
    outline: 0;
    background: #efefef;
    border-radius: 3px;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 100%;
}

.form label {
    float: left;
    margin: 0.25rem 0;
    font-size: 90%;
    color: #fafafa;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

.btn-container > input,
.btn-container > a {
    margin: 0.25rem 0;
}

.btn-container > a {
    background: #d6d6d6 !important;
    background: #07265F !important;
    border: 2px solid white !important;
    color: white !important;
}
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #072660;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}

.errorlist {
    list-style: none;
    padding: 0;
}