/* Newpark Base CSS */ 


/* Type */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

/*CSS vars */
:root {
    --pathway-space: 20;
}

/***********/

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}
/* Global Fade Animation */

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

main {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

.fas {
    font-size: 80%;
}

.text-link {
    text-decoration: underline;
}

.white {
    color: white;
}


/* Embeded Maps */
iframe {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    float: right;
    padding-bottom: 1rem;
}

.map-container-content {
    padding: 1rem;
}

.map-container,
.map-container-content {
    height: 100%;
}


/* Forms Global */
.helptext {
    display: none;
}

.form-container > form > ul > li > label {
    font-size: 80%;
    font-weight: 600;
}

/* Buttons */
a:link {
    text-decoration: none;
}

.btn-navy {
    color: #fff !important;
    background-color: #072660 !important;
    border-color: #072660 !important;
    width: 100%;
    border-radius: 2rem !important;
}

.span-navy {
    padding: 1.5rem 1rem;
    background: rgb(7 38 96 / 80%);
    color: white;
    width: 100%;
    font-size: 115%;
    text-align: center;
}

.btn {
    transition: all 0.2s ease-in-out !important;
}

.btn.btn-light.btn-sml {
    padding: .25rem 1rem;
    border-radius: 2rem;
}

.btn.btn-navy.btn-lg.btn-block {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}

.btn:hover {
    opacity: 0.85;
}

.btn-path {
    background: #5ec6bc;
    color: white !important;
    width: fit-content;
    padding: 0.45rem 0.5rem;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
}

a.btn-path:hover,
a.btn-path:focus {
    background: #5ab6ad;
    padding: 0.55rem 0.65rem;
}

.btn-path-inner {
    background: white;
    width: fit-content;
    padding: 0.35rem 0.5rem;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
}

a.btn-path-inner:hover,
a.btn-path-inner:focus {
    text-decoration: underline;
    background: rgb(236, 235, 235);
}

/* Pathway */
.pathway {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 3rem 1rem 0rem 1rem;
}

.path-container {
    margin: 1rem; 
    z-index: 2;
}

.path-container-inner {
    display: flex;
    flex-direction: column;
    font-size: 90%;
    margin: 1rem 0 -1rem 0;
}

.btn-path-inner {
    margin: 0.5rem;
}



/* Content Padding/ Margins & Width Limits */
.content-container {
    padding: 1rem 2rem;
}

h1 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.navbar >.container, 
.navbar >.container-fluid {
    max-width: 1400px;
}

/* Colours */
#main_nav li a {
    color: #072660;
    transition: all 0.2s ease-in-out;
}

#main_nav li:not(:last-child) a:hover,
#main_nav li:not(:last-child) a:focus {
    transform: scale(1.1);
}

#main_nav li:not(:last-child) a:hover:after,
#main_nav li:not(:last-child) a:focus:after {
    content: "";
    display: block;
    position: absolute;
    left: 0; 
    right: 0; 
    width: 20px;
    margin: auto;
    border-bottom:3px solid #072660;
    border-radius: 10px;
}

#main_nav > ul > li.nav-item > a:active {
    text-decoration: underline;
}

.bg-nav {
    background-color: #fafafa;
}

/* Box Shadows */
.box-shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Nav */
.navbar {
    padding: 1rem !important;
    min-height: 82px;
    max-height: 82px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler-icon {
    background-image: url("/static/svg/menu-icon.bc430cc32ebd.svg") !important;
    width: 2em;
    height: 2em;
}

button.navbar-toggler {
    border: none;
}

.navbar .megamenu { 
    padding: 1rem; 
}

.dropdown-menu .megamenu .show {
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

/* Footer */
footer {
    background: #072660;
    font-size: 90%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center
}

.footer-container {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "nav"
        "subscribe"
        "contact"
        "social"
        "logo"
        "terms";
    align-content: center;
    width: 100%;
    padding: 1rem;
}

.footer-contact {
    grid-area: contact;
}

.footer-menu {
    grid-area: nav;
}

.footer-subscription {
    grid-area: subscribe;
}

.footer-social {
    grid-area: social;
}

.footer-logo {
    grid-area: logo;
}

.footer-terms {
    grid-area: terms;
}

.footer-menu {
    padding-top: 1rem;
    border-bottom: 1px solid #c2c9d9;
}

.footer-menu > ul {
    list-style: none;
    padding: 0 1rem;
}

.footer-menu span {
    color: white;
    font-weight: 600;
}

.footer-menu > ul > li {
    line-height: 1.7;
}

.footer-menu > ul > li > a {
    color: white;
    padding: 0;
    transition: 0.2s all;
    text-transform: uppercase;
    font-size: 90%;
}

.footer-menu > ul > li > a:hover,
.footer-menu > ul > li > a:focus {
    text-decoration: underline;
}

.footer-contact {
    padding-top: 1rem;
    border-bottom: 1px solid #c2c9d9;
    padding-bottom: 1rem;
}

.contact-item > span > i,
.contact-item-inner > span > i {
    padding-right: 5px;
}

.contact-item .contact-item-inner > a {
    color: white;
}

.contact-item-container {
    padding: 0 1rem;
}

.contact-item {
    display: flex;
    flex-direction: column;
    font-size: 90%;
}

.contact-item > span {
    font-size: 90%;
}

.contact-item-inner {
    padding-bottom: 0.5rem;
}

.social-items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}

.social-items-container > a > i {
    color: white;
    font-size: 28px;
    transition: 0.2s all;
}

.social-items-container > a > i:hover,
.social-items-container > a > i:focus {
    transform: scale(1.1);
}

.social-items-container span {
    display: none;
}

.footer-logo {
    padding: 1rem 3rem;
    height: fit-content;
    margin: auto
}

.footer-logo > img {
    height: 15vw;
}

.footer-terms > span {
    color: white;
    font-size: 70%;
}

.privacy-item > a {
    color: white;
    padding: 0;
    font-size: 60%;
}

.footer-terms {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 1rem;
}

.privacy-nav {
    display: flex;
    flex-direction: row;
}

.subscribe-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-terms > div > div:nth-child(2) > a {
    padding-left: 5px;
}

.form-container > form > ul {
    list-style: none;
    padding: 0;
}

.form-container.subscribe-form > form > ul > li > input {
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    width: 100%;
    margin: 0.25rem 0;
    background: #253e6c;
    color: white;
    font-size: 90%;
    padding: 0.25rem;
}

.form-container.subscribe-form > .form-footer-content > p {
    color: white;
}

.form-footer-content {
    display: flex;
    flex-direction: row;
}

.form-footer-content > p {
    margin-bottom: 0.25rem;
}

.form-footer-content > p > i {
    padding-right: 5px;
}

.form-container.subscribe-form > form > ul > li:nth-child(2) {
    display: flex;
}

.form-container.subscribe-form > form > ul > li:nth-child(2) > label {
    display: block;
    font-size: 80%;
    color: white;
}

.form-container.subscribe-form > form > div {
    float: right;
}

.form-container.subscribe-form {
    margin: 1rem;
}

.footer-subscribe {
    border-bottom: 1px solid #c2c9d9;
}

.footer-subscribe > div > div > form > ul > li > label,
.footer-subscribe > div > div > form > ul > li > input::placeholder {
    color: white;
}

.footer-subscribe > div > div > form > ul > li > input::placeholder {
    opacity: 0.80;
}

.form-success-footer {
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-success-footer > i {
    font-size: 30px;
    color: white;
    padding: 0.5rem 0;
}

.form-success-footer > p {
    color: white;
}

/** SCREENS **/

@media only screen and (min-width: 576px) {
    :root {
        --pathway-space: 50;
    }

    .contact-item-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .social-items-container {
        padding: 2rem 4rem;
    }

    .subscribe-container {
        max-width: 70%;
    }
}

@media only screen and (min-width: 768px) {
    :root {
        --pathway-space: 70;
    }

    .path-container-inner {
        flex-direction: row;
    }

    .footer {
        flex-direction: row;
    }
    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "nav subscribe"
            "contact logo"
            "social terms";
        padding: 2rem;
    }
    .contact-item-container {
        flex-direction: column;
    }
    .footer-logo {
        margin: auto;
    }
    .subscribe-container {
        max-width: 100%;
    }
}	
  
/* Mobile */
@media(max-width: 991px) {

    .navbar.fixed-top .navbar-collapse, 
    .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }

    #main_nav {
        background: linear-gradient( rgb(6, 30, 75, 0.96), rgba(7, 38, 96, 0.96));
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 1rem;
        border-radius: 5px;
    }

    #main_nav > ul > li.nav-item > a {
        color: white;
    }

    .navbar-nav {
        align-items: flex-end;
    }
}

@media all and (min-width: 992px) {
    .navbar .has-megamenu {
        position: static !important;
    }

    .navbar .megamenu {
        left: 0; 
        right: 0; 
        width: 100%; 
        margin-top: 0;
    }

    .footer-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "nav nav subscribe"
        "contact contact logo"
        "social . terms";
    }
}

@media all and (min-width: 1200px) {
    .navbar .has-megamenu {
        position: static !important;
    }

    .navbar .megamenu {
        left: 0; 
        right: 0; 
        width: 100%; 
        margin-top: 0;
    }

    .pathway {
        padding: 4rem 1rem 0rem 1rem
    }

    .footer-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "nav nav subscribe contact"
            "social . . terms";
    }

    .footer-logo > img {
        height: 8vw;
    }

    .social-items-container {
        padding: 1rem 2rem;
    }

    .footer-logo {
        display: none;
    }
}
