{% extends "joyous/event_base.html" %}
{% load static wagtailcore_tags i18n %}
{% load wagtailcore_tags wagtailimages_tags i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock extra_css %}

{% block content %}
<main>
    <div class="about-heading-section heading-section">
        <div class="events heading-container">
            <div class="heading-main-content">
                <div class="heading">
                {% block event_title %}
                    <h1>{{ page.title }}</h1>
                {% endblock event_title %}
                </div>
            </div>
            {% image settings.home.SiteSettings.events_image width-300 as event_img %}
            <div class="heading-cover" style="background: url({{ event_img.url }}) center bottom no-repeat;">         
            </div>
        </div>
    </div>
    <div class="events content-section">
        <div class="events box-container">
            {% block event_image %}
            {% if page.image %}
                <div class="event-detail-joy-img">
                    {% image page.image fill-500x250 class="joy-img__img" %}
                </div>
            {% endif %}
            {% endblock event_image %}
            <div class="event-detail-joy-date-time">
                {% block event_who %}{% include "joyous/includes/who.html" with event=page %}{% endblock event_who %}
                {% block event_when %}{% include "joyous/includes/when.html" with event=page %}{% endblock event_when %}
                {% block event_where %}{% include "joyous/includes/where.html" with event=page %}{% endblock event_where %}
            </div>
            {% block event_details %}
                <div class="event-detail-joy-ev-details joy-field">
                    {{ page.details|richtext }}
                </div>
            {% endblock event_details %}
            <div class="event-detail-joy-export">
                <a class="btn-smm" href="{{ request.path }}?format=google" target="_blank">
                    <i class="fas fa-plus"></i> {% trans "Google Calendar" %}</a>
                &nbsp;&nbsp;&nbsp;
                <a class="btn-smm" href="{{ request.path }}?format=ical"><i class="fas fa-plus"></i> 
                    {% trans "iCal " %}</a>
            </div>
        </div>
    </div>
    {% block event_footer %}
    <div class="about-nav-container">
        <a href="{{ page.get_parent.url }}" class="btn btn-navy btn-lg btn-block"><i class="fas fa-chevron-left"></i>
            Return to {{ page.get_parent.title }}</a>
    </div>
    {% endblock event_footer %}
</main>
{% endblock content %}