{% load contact_form_tags %}
{% load wagtailcore_tags %}

{% get_contact_form as contact_form %}
<div class="form-container">
    {% if request.session.form_page_success %}
    <div class="form-success">
        <i class="fas fa-check-circle"></i>
        <p>{{ contact_form.page.thank_you_text|richtext }}</p>
        <a href="{% url 'new_message' %}">
            <span class="text-link">Send another message <i class="fas fa-chevron-right"></i></span>
        </a>
    </div>
    {% else %}
    <p>{{ contact_form.page.intro|richtext }}</p>
    <form action="{% pageurl contact_form.page %}" method="POST" role="form">
        {% csrf_token %}
        <ul>
            {{ contact_form.form.as_ul }}
        {% if page.pk != contact_form.pk %}
            <input name="source-page-id" type="hidden" value="{{ page.pk }}">
          {% endif %}
        </ul>
        <div class="btn-container">
            <button class="btn btn-navy btn-lg btn-block" type="submit">
                Submit
            </button>
        </div>
    </form>
    {% endif %}
</div>