{% load contact_form_tags %}
{% load wagtailcore_tags %}

{% get_contact_form as contact_form %}
<div class="form-container">
    <p>{{ contact_form.intro }}</p>
    <form action="{% pageurl contact_form.page %}" method="POST" role="form">
        {% csrf_token %}
        <ul>
            {{ contact_form.form.as_ul }}
        </ul>
        <div class="btn-container">
            <button class="btn btn-navy btn-lg btn-block" type="submit">
                Submit Form
            </button>
        </div>
    </form>
</div>