{% load subscribe_form_tags %}
{% load wagtailcore_tags %}

{% get_subscribe_form as subscribe_form %}
<div class="form-container">
    {% if request.session.subscribe_success %}
    <div class="form-success">
        <p>{{ subscribe_form.page.confirmation_text|richtext }}</p>
    </div>
    {% else %}
    <form action="{% pageurl subscribe_form.page %}" method="POST" role="form">
        {% csrf_token %}
        <ul>
            {{ subscribe_form.form.as_ul }}
            {% if page.pk != subscribe_form.pk %}
            <input name="source-page-id" type="hidden" value="{{ page.pk }}">
          {% endif %}
        </ul>
        <div class="btn-container">
            <button class="btn btn-navy btn-lg btn-block" type="submit">
                Submit
            </button>
        </div>
    </form>
    {% endif %}
</div>