/* Music Templates CSS */

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 82px auto minmax(400px, auto) auto;
    grid-template-areas:
        " . "
        "heading"
        "content"
        "nav";
    max-width: 1400px;
    margin: auto;
}

.heading-section {
    grid-area: heading;
}

.content-section {
    grid-area: content;
}

.end-nav-container {
    grid-area: nav;
}

.heading-section {
    margin: 1rem 1rem 0.5rem 1rem;
    border-bottom: 1px solid #072660;
}

.heading-main-content {
    padding: 1rem;
}

.heading-cover {
    display: none;
}

.content-section {
    display: grid;
    grid-gap: 1rem;
    margin: 1rem 2rem;
}

.block-NavBox {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-rows: 200px;
}

.pathway.music {
    padding: 1rem;
}

.nav-box-wrapper {
    align-items: center;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 1rem;
    position: relative;
    overflow: hidden;
    /* Safari */
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0)
}


.nav-box-container {
    border-radius: 3px;
    background-size: cover !important;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.2s ease-in-out;
    z-index: -2;
}

.block-NavBox > a:hover > .nav-box-wrapper > .nav-box-container,
.block-NavBox > a:focus > .nav-box-wrapper > .nav-box-container {
    transform: scale(1.08);
}

.music-hero {
    background-size: cover !important;
    border-radius: 3px;
}

.music-hero-overlay {
    height: 100%;
    width: 100%;
}

.music-hero-overlay {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}

.music-hero-active {
    background: linear-gradient( rgba(255, 255, 255, 0.6), rgba(7, 38, 96, 0.4));
    opacity: 1;
}

.hero-text-containter {
    background: #072660;
    padding: 1rem;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.hero-text {
    color: white;
    font-weight: 600;
}

.nav-box-overlay {
    border-radius: 3px;
    opacity: .75;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.nav-box h3 {
    color: white;
}

/* Music Individual Pages */
.about-heading-section.heading-section {
    background: none;
}

.block-ListBox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1rem;
    margin: auto;
}

.block-SingleBox {
    display: grid;
    grid-template-columns: minmax(280px, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    margin: auto;
    max-width: 1200px;
}

.about-box-wrapper {
    border-radius: 3px;
    height: fit-content;
}

.about-cover-container {
    height: 150px;
    background-size: cover !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.about-box-inner {
    padding: 1rem;
}

.about-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 2rem;
    margin-left: auto
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
}

.single-image-container img {
    width: 100%;
    max-width: 1000px;
    height: auto;
    border-radius: 3px;
}

.image-container span {
    font-size: 85%;
    font-weight: 100;
}

@media only screen and (min-width: 607px) {
    .about-box-wrapper {
        height: 100%;
    }
}

@media only screen and (min-width: 768px) { 
    .heading-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: auto;
        grid-template-areas:
            "head head image";
    }

    .heading-main-content {
        grid-area: head;
    }

    .heading-cover {
        grid-area: image;
        display: block;
        background-size: contain !important;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        margin: 0.5rem;
        image-rendering: -moz-crisp-edges; /* Firefox */
        image-rendering: -o-crisp-edges; /* Opera */
        image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
        image-rendering: crisp-edges;
        -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
    }

    .about-box-wrapper {
        display: flex;
        flex-direction: row;
    }

    .about-cover-container {
        border-top-right-radius: 0;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        height: 100%;
        width: 100%;
        min-width: 300px;
        max-width: 350px;
    }
}

@media only screen and (min-width: 1200px) { 
    .music-hero-overlay {
        display: flex;
        flex-direction: row;
    }

    .hero-text-containter {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 3px;
        max-width: 250px;
    }

    .hero-text {
        font-size: 150%;
    }

}
