/* Remote Templates CSS */
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 82px auto minmax(400px, auto) auto;
    grid-template-areas:
        " . "
        "heading"
        "content"
        "nav";
    max-width: 1400px;
    margin: auto;
    min-height: 100vh;
}

.heading-section {
    grid-area: heading;
}

.content-section {
    grid-area: content;
}

.end-nav-container {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2rem;
    margin-left: auto;
}

.heading-section {
    margin: 1rem 1rem 0.5rem 1rem;
    border-bottom: 1px solid #072660;
}

.heading-main-content {
    padding: 1rem;
}

.heading-blurb > p > a {
    color: #33c7b9;
    text-decoration: underline;
}

.heading-cover {
    display: none;
}

.content-section {
    margin: 1rem 2rem;
}

.heading-section {
    background: none;
}

.box-container {
    max-width: 1000px;
    margin: auto;
}

.index-box-container {
    margin: auto;
}

.remote-container-wrapper {
    height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom: 2px solid #072660;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #e9ecefb8;
    padding: 0.5rem 1rem 1rem 1rem;
}

.remote-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 2rem 1rem;
    padding: 0.5rem 0 0 0;
}

.remote-item {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#dddadaab, #0726602b);
    padding: 0.5rem;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    height: fit-content;
}

.remote-item span {
    font-size: 110%;
}

.remote-item span:nth-child(2) {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 120%;
}

.remote-item a {
    margin: 0.5rem;
    text-align: center;
}

.search-bar {
    display: flex;
    flex-direction: column;
    margin: 0 0 1.5rem 0;

}

.search-bar label {
    font-size: 80%;
    font-weight: 600;
    padding: 0.25rem 0;
}

.search-bar input {
    width: 100%;
    font-size: 110%;
    border-radius: 3px;
    border: 2px solid #072660;
    background: #fafafa;
    color: black;
    outline: none;
    padding: 0.25rem 0.5em;
}

.search-bar input::placeholder {
    color: rgb(46, 46, 46);
}

/* Index Hero*/

.index-hero {
    background-size: cover !important;
    border-radius: 3px;
    height: 200px;
    margin: 0 0 1rem 0;
}

.hero-text-containter {
    height: 100%;
    width: 100%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    text-transform: uppercase;
    padding: 1rem;
}

.hero-text h2 {
    font-size: 2.6rem;
    line-height: 1;
}

/* Nav Boxes */

.block-NavBox {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-rows: 200px;
}

.nav-box-wrapper {
    align-items: center;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 1rem;
    position: relative;
    overflow: hidden;
    /* Safari */
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0)
}


.nav-box-container {
    border-radius: 3px;
    background-size: cover !important;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.2s ease-in-out;
    z-index: -2;
}

.nav-box h3 {
    color: white;
    transition: all 0.2s ease-in-out;
}

.block-NavBox > a:hover > .nav-box-wrapper > .nav-box-inner > .nav-box > h3,
.block-NavBox > a:focus > .nav-box-wrapper > .nav-box-inner > .nav-box > h3,
.block-NavBox > a:hover > .nav-box-wrapper > .nav-box-container,
.block-NavBox > a:focus > .nav-box-wrapper > .nav-box-container {
    transform: scale(1.08);
    text-decoration: underline;
}

.nav-box-overlay {
    border-radius: 3px;
    opacity: .75;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Video */ 

.video-container.remote-container {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.remote-container > figure {
    background: #fafafa;
    border: 2px solid #fcfcfc;
    box-shadow: 0 1px 2px rgb(34 25 25 / 40%);
    padding: 1rem;
    transition: opacity .4s ease-in-out;
    -webkit-column-break-inside: avoid;
}

.remote-container > figure > figcaption > h6 {
    margin-bottom: 0;
}

video {
    position: relative;
    z-index: 0;
    width: 100%;
}

.video-box.box-container{
    max-width: 1400px;
}

.video-container-wrapper.remote-container-wrapper {
    height: 75vh;
    overflow-y: scroll;
}

@media only screen and (min-width: 576px) {
    .video-container.remote-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media only screen and (min-width: 768px) { 
    .heading-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: auto;
        grid-template-areas:
            "head head image";
    }

    .heading-main-content {
        grid-area: head;
    }

    .heading-cover {
        grid-area: image;
        display: block;
        background-size: contain !important;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        margin: 0.5rem;
        image-rendering: -moz-crisp-edges; /* Firefox */
        image-rendering: -o-crisp-edges; /* Opera */
        image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
        image-rendering: crisp-edges;
        -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
    }

    .search-bar input {
        width: 50%;
    }

    .video-container.remote-container {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }

}


