{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


{% block body_class %}template-aboutindexpage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock extra_css %}

{% block content %}
<main>
    <div class="heading-section content-container box-shadow">
        <div class="heading-container">
            <div class="heading">
                <h1>{{ page.title }}</h1>
            </div>
            <div class="heading-blurb">
                {{ page.body|richtext }}
            </div>
        </div>
    </div>
    <div class="content-section">
        <div class="box-container">
            {% include_block page.box %}
        </div>
    </div>
</main>
{% endblock %}