{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-about{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock extra_css %}

{% block content %}
    {% image page.cover fill-80x80 %}
    <h1>{{ page.title }}</h1>

    <div class="short_description">{{ page.heading }}</div>

        {% include_block page.body %}

    <p><a href="{{ page.get_parent.url }}">Return to About</a></p>

{% endblock %}