/* Newpark Base CSS */ 

/* Type */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.fas {
    font-size: 80%;
}

.text-link {
    text-decoration: underline;
}

/* Buttons */
a:link {
    text-decoration: none;
}

.btn-navy {
    color: #fff !important;
    background-color: #072660 !important;
    border-color: #072660 !important;
    width: 100%;
}

.btn {
    transition: all 0.2s ease-in-out !important;
}

.btn:hover {
    opacity: 0.85;
}

/* Content Padding/ Margins & Width Limits */
.content-container {
    padding: 1rem 2rem;
}

h1 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.navbar >.container, 
.navbar >.container-fluid {
    max-width: 1400px;
}

/* Colours */
#main_nav li a {
    color: #072660;
    transition: all 0.2s ease-in-out;
}

#main_nav li:not(:last-child) a:hover,
#main_nav li:not(:last-child) a:focus {
    transform: scale(1.1);
}

#main_nav li:not(:last-child) a:hover:after,
#main_nav li:not(:last-child) a:focus:after {
    content: "";
    display: block;
    position: absolute;
    left: 0; 
    right: 0; 
    width: 20px;
    margin: auto;
    border-bottom:3px solid #072660;
    border-radius: 10px;
}

#main_nav > ul > li.nav-item > a:active {
    text-decoration: underline;
}

.bg-nav {
    background-color: #fafafa;
}

/* Box Shadows */
.box-shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Nav */
.navbar {
    padding: 1rem !important;
    min-height: 82px;
    max-height: 82px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler-icon {
    background-image: url("/static/svg/menu-icon.svg") !important;
    width: 2em;
    height: 2em;
}

button.navbar-toggler {
    border: none;
}

.navbar .megamenu { 
    padding: 1rem; 
}

.dropdown-menu .megamenu .show {
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}


  /* Desktop */
  @media all and (min-width: 992px) {
  
    .navbar .has-megamenu {
        position: static!important;
    }
    .navbar .megamenu {
        left: 0; 
        right: 0; 
        width: 100%; 
        margin-top: 0;
    }
  
  }	
  
  /* Mobile */
  @media(max-width: 991px) {
    .navbar.fixed-top .navbar-collapse, 
    .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }

    #main_nav {
        background: linear-gradient( rgb(6, 30, 75, 0.96), rgba(7, 38, 96, 0.96));
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 1rem;
        border-radius: 5px;
    }

    #main_nav > ul > li.nav-item > a {
        color: white;
    }

    .navbar-nav {
        align-items: flex-end;
    }
  }
