{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-about{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/workshops.css' %}">
{% endblock extra_css %}

{% block content %}

<main>
    <div class="heading-section heading-section">
        <div class="event-heading-container">
            <div class="event-item heading-main-content">
                <div class="heading">
                    <h1>{{ page.title }}</h1>
                </div>
                <div class="heading-event-detail">
                    {% now "Y-m-d" as todays_date %}
                    {% if todays_date > page.date|date:"Y-m-d" %}  
                    <span class="finished"><i class="fas fa-exclamation-circle"></i> Finished</span>
                    {% else %}
                        {{ page.date|date:"l d, F Y" }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="event-item content-section box-shadow">
        {% image page.cover fill-1400x400 as cover %}
        <div class="event-item-cover" style="background: url({{ cover.url }}) center center no-repeat;"></div>
        <div class="event-item-container">
            <div class="worshop-details">
                <div class="workshop-card-date">
                    <div class="workshop-card-date-inner">
                    {{ page.date|date:"l d, F Y" }}
                    </div>
                    <span class="workshop-card-times">
                        <i class="far fa-clock"></i>
                        {{ page.start_time|time:"f A" }} / {{ page.end_time|time:"f A" }}
                    </span>
                </div>
                <div class="workshop-card-price">
                    <div class="workshop-card-price-inner">
                        <i class="fas fa-euro-sign"></i>
                        {{page.price }}
                        <span> Admission</span>
                    </div>
                    <div class="workshop-card-price-inner">
                        {% now "Y-m-d" as todays_date %}
                        {% if todays_date < page.date|date:"Y-m-d" %}  
                       <span class="btn-smm btn-black">
                            <a href="https://pay.easypaymentsplus.com/feepay1v2.aspx?id=1966" target="_blank"> 
                                Enrol
                            </a>
                            <i class="fas fa-chevron-right"></i>
                        </span>
                        {% endif %}
                    </div>
                </div>
                <div class="workshop-card-body">
                    {{ page.body|richtext }}
                </div>
            </div>
        </div>
    </div>
    <div class="content-nav-container">
        <a href="{{ page.get_parent.url }}" class="btn btn-navy btn-lg btn-block"><i class="fas fa-chevron-left"></i> Back to {{ page.get_parent.title }}</a>
    </div>
</main>

{% endblock %}