{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-about{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/workshops.css' %}">
{% endblock extra_css %}

{% block content %}

<main>
    <div class="heading-section heading-section">
        <div class="heading-container">
            {% image page.cover original as cover %}
            <div class="heading-main-content" style="background: url({{ cover.url }}) center bottom no-repeat;">
                <div class="heading">
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
        </div>
        <div class="content-section">
            <div class="box-container">
                <div class="workshop-date">
                    <span>Date: </span> 
                    {{ page.date }}
                </div>
                <div class="workshop-price">
                    <span>Admission: </span> 
                    {{ page.price }}
                </div>
                <div class="workshop-body">
                    {{ page.body|richtext }}
                </div>
            </div>
        </div>
    </div>
    <div class="nav-container">
        <a href="{{ page.get_parent.url }}" class="btn btn-navy btn-lg btn-block"><i class="fas fa-chevron-left"></i> Back to {{ page.get_parent.title }}</a>
    </div>
</main>

{% endblock %}